.html {
    font-size: 62.5%;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.img {
    display: block;
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 60%;
}

.header_nav {
    margin-left: 3%;
    background: rgba(255, 255, 255, 0.7);
    height: 75px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(60px);
}

.header_page_list {
    display: flex;
}

.header_page_item {
    list-style: none;
    margin-right: 3rem;
}

.header_page_link {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.0125em;
    /* Primary/Black */
    color: #3B4144;
}

.header_nav {
    padding-top: 1.5rem;
    justify-content: space-between;
}

.header_auth {
    display: flex;
}

.menu_mobile {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
}

//reposive
.mobile_header {
    height: 80px;
    margin: 20px;
    margin: 50px;
}

.mobile_close {
    height: 24px;
    color: #3B4144;
}

.mobile_logo {
    height: 30px;
    margin-left: 10px;
}

.mobile_list {
    list-style: none;
}

.mb_item {
    font-weight: 700;
    font-size: 28px;
    margin-top: 56px;
    color: #3B4144;
}

.mb_btn_up {
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #D93C23;
    height: 40px;
    border-radius: 30px;
    color: #fff;
    margin-top: 215px;
    font-size: 13px;
    font-weight: 600;
}

.mb_btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
}

.mb_sign_in {
    width: 41%;
    font-weight: 600;
    font-size: 13px;
    color: #3B4144;
    border: none;
    height: 40px;
    border-radius: 30px;
    background: #fff;
}

.mb_sign_up {
    height: 40px;
    width: 52%;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: #3B4144;
    font-weight: 600;
    font-size: 13px;
}

//reposive
.name {
    color: #272727;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-left: 24px;
}

.auth_role {
    font-weight: 400;
    font-size: 12px;
    opacity: 0.5;
    text-align: right;
}

.auth_img {
    height: 36px;
    border-radius: 24px;
    margin-right: 20px;
    margin-left: 10px;
}

.auth_btn {
    background: #D93C23;
    border-radius: 30px;
    color: #fff;
    padding: 6px 24px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    width: 131px;
    height: 32px;
    line-height: 16px;
    border-style: none;
    margin-left: 24px;
}

.auth_logo {
    height: 26px;
}

.banner {
    background-image: url('/images/Rectangle\ 156.png');
    background-size: 100%;
    width: 80%;
    height: 390px;
    border-radius: 24px;
    margin: 0 auto;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    flex-flow: column;
    padding: 56px 0;
    margin-top: 5%;
}

.banner1 {
    width: 350px;
    height: 48px;
    margin: 115px 250px 0 120px;
}

.banner2 {
    width: 350px;
    height: 28px;
    margin-left: 120px;
    margin-top: 10px;
}

.nav_bar {
    margin: 36px auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav_item {
    margin-right: 56px;
    font-weight: 600;
    font-size: 18px;
    color: #3B4144;
    margin: 0 auto;
    text-decoration: none;
}

.icon {
    margin-top: 20px;
    display: none;
}

.now {
    background: #007882;
    border-radius: 36px;
    color: #fff;
    line-height: 0px;
    padding: 18px 36px;
    padding: -20px;
    height: 39px;
    margin-top: -9px;
}

.content_news {
    margin-top: 40px;
    width: 100%;
}

.news_list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.title_news {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-left: 390px;
}

.icon_news {
    width: 36px;
    height: 40px;
}

.news {
    font-weight: 700;
    font-size: 32px;
    margin-left: 30px;
}

.news_left {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.news_detail {
    width: 60%;
}

.news_img {
    margin-right: 3%;
}

.cnt-dot {
    width: 5px;
    height: 5px;
    border-radius: 100px;
    background-color: black;
    margin: auto 3px;
}

.news_avt {
    width: 100%;
}

.news_icon {
    position: absolute;
    margin-left: -60px;
    width: 20px;
    margin-top: 10px;
}

.cnt-title-r,
.news_left_title {
    font-weight: 600;
    font-size: 18px;
    color: #3B4144;
}

.cnt-title-r {
    margin: 1px 0;
}

.news_left_title {
    margin: 16px 0 6px 0;
}

.news_info {
    display: flex;
    line-height: 1.5;
    margin: 7px 0 11px 0;
}

.cnt-chinh {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3B4144;
    opacity: 0.5;
    margin-top: -6px;
}

.xa-hoi {
    font-weight: 600;
    font-size: 14px;
    color: #007882;
}

.cnt-tin-tuc {
    margin-top: 40px;
    width: 100%;
}

.cnt-name {
    font-weight: 400;
    font-size: 15px;
    color: #3B4144;
}

.cnt-day {
    font-weight: 400;
    font-size: 15px;
    color: #3B4144;
    opacity: 0.5;
}

.news_right {
    width: 38%;
}

.cnt-detail-r {
    width: 100%;
}

// video
.video {
    margin-top: 56px;
}

.v-detail {
    margin-top: -75px;
    font-weight: 600;
    color: #ffff;
    font-size: 18px;
    padding-left: 24px;
}

.video-title {
    display: flex;
    justify-content: space-between;
}

.v-head {
    font-weight: 600;
    font-size: 18px;
    color: #3B4144;
    line-height: 27px;
    display: flex;
}

.v-last {
    font-weight: 400;
    font-size: 15px;
    color: #3B4144;
    line-height: 27px;
}

.video-detail {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.v-box1 {
    width: 68%;
}

.v-box2 {
    width: 30%;
    overflow: auto;
    height: 340px;
}

.v-img {
    width: 100%;
}

.v-title {
    font-weight: 600;
    font-size: 14px;
    color: #3B4144;
    line-height: 17px;
    margin: 6px 0 -6px 0;
}

.v-img2 {
    margin-top: 16px;
}

.v-list {
    font-weight: 600;
    font-size: 18px;
    color: #3B4144;
    line-height: 27px;
    display: flex;
    margin-top: 56px;
}

.li-detail {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 36px;
    flex-direction: row-reverse;
}

.img-list {
    width: 33%;
    object-fit: contain;
}

.li-des {
    width: 63%;
    margin: 15px;
}

.list-title {
    font-weight: 600;
    font-size: 18px;
    color: #3B4144;
    line-height: 150%;
    margin: 0;
}

.li-chinh {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3B4144;
    opacity: 0.5;
    margin-top: -6px;
}

.more-text {
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #3B4144;
    width: 168px;
    height: 20px;
    text-align: center;
    padding: 20px;
    line-height: 0px;
    border-radius: 70px;
    margin: 80px auto;
}

.icon:active {
    .menu_mobile {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .content_news {
        width: 100%;
    }
    .icon {
        display: block;
        margin: 20px;
    }
    .icon-menu {
        color: #3B4144;
    }
    .title_news {
        margin-left: 42%;
    }
    .btn {
        display: none;
    }
    .header_page_list {
        display: none;
    }
    .logo-icon2 {
        display: block;
        margin-right: 26px;
    }
    .li-detail {
        margin-top: 36px;
    }
    .nav {
        width: 90%;
    }
    .header-logo {
        /*margin-left: -350px;*/
        width: 50%;
    }
    .logo-slider,
    .logo-slider1 {
        display: none;
    }
    .slide {
        background-image: url('../image/slider.png');
        width: 90%;
        height: 220px;
        border-radius: 24px;
        margin: 0px auto;
        /* background-position: center; */
    }
    .content {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .banner {
        height: auto;
    }
    .news_list {
        display: block;
    }
    .news_right {
        display: flex;
    }
    .cnt-detail-r {
        margin-right: 30%;
    }
    .cnt-img-r {
        width: 320px;
    }
    .video-detail {
        display: block;
    }
    // .v-box1 {
    //     width: 96%;
    // }
    .v-box2 {
        display: flex;
        overflow-x: scroll;
        height: 250px;
        width: auto;
    }
    .v-img {
        width: 650px;
    }
    .img-bottom {
        width: 210px;
        height: 115px;
    }
    .v-click {
        margin-right: 20px;
    }
}